/target

# Ignore all under /data
/data/**

/tmp/**

# Unignore directories that lead to the file
!data/
!data/authority/
!data/authority/skde_params.json

/scripts/key-generator

/scripts/execute/env.sh
/scripts/rpc-call/env.sh

.DS_Store